.card {
  width: 310px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.card img {
  height: auto;
  width: 100%;
  transition: all .40s;

}

.card .desc {
  padding: 5px 20px;
  opacity: 0.8;

}

.desc {
  color: lightslategray;
}

.card .title {
  font-weight: 900;
  color: #424144;
  font-size: 20px;
  padding: 0 20px;
}

.price {
  color: red;
  font-weight: bold;
}

.card .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}



.card .box .btn {
  font-size: 13px;
  color: #f63e4e;
  padding: 10px 18px;
  font-weight: 900;
  border: 1px solid #f63e4e;
  border-radius: 30px;




}

.card .box .btn a {
  text-decoration: none;
  color: #f63e4e;

}

.card .box .btn:hover {
  cursor: pointer;
  background-color: #f63e4e;
  color: white;

}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card .btn a {
  color: aqua;
}